<div><label for="Bank">Bank</label>
<select name="Bank">
        <option value="Option1">Option 1</option>
        <option value="Option2">Option 2</option>
</select> <a href="#!/view3/">edit</a>
</div>
<div>
    <label>Loan Number</label>
    <input>
    </input>
</div>
<div>
    <p></p>
    <label>Description of Loan</label>

    <textarea>

    </textarea>
</div>
<div>
    <label for="Terms"> Teams of Payment</label>
    <select>
        <option Value="Weekly">Weekly</option>
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarerly</option>
        <option value="Semi Annual">Semi Annual</option>
        <option value="Annual"> Annual</option>
    </select>
    <input/>
</div>
<div>
    <label>Principal Amount</label>
    <input/>
</div>
<div>
    <lable> Interest Rate</lable>
    <input></input>
</div>
<div>
    <label for="exampleInput">Pick a date:</label>
    <input type="date" id="exampleInput" name="input" ng-model="example.value"
           placeholder="yyyy-MM-dd" min="1991-01-01" max="2099-12-31" required />
</div>
<div>
    <table>
        <div ng-controller="MyFormController">
            <form ng-submit="addEventListener(field)">
        <tr>
            <td>
                <label> Asset ID</label>
            </td>
            <td>
                <label> Manufacturer</label>
            </td>
            <td>
                <label> Model </label>
            </td>
            <td>
                <label> Serial Number</label>
            </td>
            <td>
                <label> Financed Amount</label>
            </td>
            <td>
                <label> Book Value </label>
            </td>
            <td>
                <label> Future Value</label>
            </td>
            <td>
                <label>Life (Months)</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="AssestID" ng-model==F/>
            </td>
            <td>
                <input/>
            </td>
            <td>
                <input/>
            </td>
            <td>
                <input/>
            </td>
            <td>
                <input/>
            </td>
            <td>
                <input/>
            </td>
            <td>
                <input/>
            </td>
            <td>
                <input/>
            </td>
        </tr>
        <tr>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
            <td> &nbsp;</td>
            <td> &nbsp;</td>

            <td> <input type="button" value="Submit"/></td>

        </tr>
            </form>
</div>
    </table>
</div>
